<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BuildWebCompiler" version="1.8.277" targetFramework="win" />
  <package id="Node.js" version="4.0.0" targetFramework="win" />
  <package id="NoGit" version="0.0.8" targetFramework="win" />
  <package id="Npm" version="1.4.15.2" targetFramework="win" />
</packages>